@use "../../assets/scss/font" as *;
@use "../../assets/scss/mixins" as *;

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image-wrap-top {
    display: flex;
    width: 500%;
    height: 100%;
    transition: transform 1s ease-in-out;
    filter: brightness(0.7);
}

.image-wrap-top img {
    width: 100vw;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.image-wrap-bottom {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 16px;
    z-index: 3;
}

.image-wrap-bottom img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.txt {
    @include en-big;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 48px;
    text-align: center;
    z-index: 2;
}

// 반응형

@media (max-width: 768px) {
    .txt {
        position: absolute;
        top: 30%;
        left: 50%;
    }
    .banner {
        height: 80vh;
    }
    .image-wrap-bottom {
        position: absolute;
        top: 62%;
        left: 50%;
    }
    .image-wrap-bottom img {
        width: 80px;
        height: 80px;
        border-radius: 6px;
    }

    .image-wrap-bottom {
        gap: 8px;
    }
}
