@use "../../assets/scss/mixins" as mixin;
@use "../../assets/scss/font" as *;

.top_img_dark {
    background-color: #222;
}

.top_img_right_dark {
    // git checkout main
    color: #fff;
}

.top_img_desc_dark {
    margin-top: 2rem;
    @include ko-Body-Large;
    font-size: 18px;
    color: #fff;
}

.btn_dark {
    margin-top: 3rem;
    @include ko-Body-Large;
    color: #fff;
    margin: 1rem 0 3rem 0;
    background-color: #000;
    width: 260px;
    height: 56px;
    font-size: 18px;
    // btn-style이 border-radius:50%로 되어있어서(원형) 여기서 강제 고정
    border-radius: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    &:hover {
        transform: translateY(-1px);
        background: #e9e9e9;
        color: #000;
        box-shadow: 0 6px 6px;
    }
}
.price_dark {
    @include en-Title;
    margin: 2rem 0 2rem 0;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

// 반응형 처리

@media (max-width: 1024px) {
    .top_img_inner {
        padding: 110px 20px 80px;
        gap: 48px;
    }
    .top_img_left {
        min-width: 460px;
        model-viewer {
            width: 460px;
            height: 330px;
        }
    }
    .top_img_title {
        font-size: 54px;
    }
}

@media (max-width: 768px) {
    .top_img_dark {
        min-height: 100vh;
        background-size: auto;
        background-position: 50% -40%;
    }
    .top_img_inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 90px 18px 0px;
    }
    .top_img_left {
        min-width: 0;
        padding-bottom: 10px;
        @include mixin.flex-layout(row, center, flex-end, 0);
        model-viewer {
            width: 92vw;
            max-width: 520px;
            height: 320px;
        }
    }
    .top_img_right_dark {
        align-items: center;
        flex-basis: auto;
        transform: none;
        padding-right: 0;
    }
    .btn_dark {
        width: 260px;
    }
}
