@use "../assets/scss/font" as *;

/* 카드 그리드 정렬 */
.product-card {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    // 반응형 처리
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 200px);
    }
    gap: 24px;
    justify-content: center;
}

/* 카드 하나 */
.inner-card {
    position: relative;
    width: 400px;
    height: 500px;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    @media (max-width: 768px) {
        width: 200px;
        height: 280px;
        border-radius: 1rem;
    }
}

/* 이미지 2장 겹치기 */
.inner-card img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

/* 기본 / hover 이미지 상태 */
.inner-card img.hover {
    opacity: 0;
}

.inner-card:hover img.hover {
    opacity: 1;
}

.inner-card:hover img.base {
    opacity: 0;
}

/* 그라데이션 오버레이 */
.inner-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(75, 75, 75));
    z-index: 1;
}

/* 텍스트 */
.inner-card .info {
    font-family: "Lora";
    font-weight: 400;
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #e4e4e4;
    z-index: 2;
    transform: translateY(-70px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

// 텍스트 반응형
@media (max-width: 768px) {
    .main_txt{
        transform: translateY(-30px)
    }
    .product-card{
        transform: translateY(-60px)
    }
    .inner-card .info {
        transform: translateY(0);
    }

    .inner-card .info .price {
        @include en-Body-Medium;
    }
}
