@use "../../assets/scss/font" as *;
@use "../../assets/scss/mixins" as *;

#footer {
  width: 100%;
  height: 250px;
  padding: 2.5rem;
  background-color: var(--color-BK);
  @include flex-layout(column, space-between, flex-start);
  img {
    width: 150px;
  }
  p {
    color: var(--color-100);
    @include en-Body-Medium;
  }
}